.c-goods{
    padding: 176px 0;
    background: #eee;
    min-height: 1400px;
}
.c-goods .all{
    height: 100px;
    line-height: 100px;
    padding: 24px 80px;
    background: #fff;
    margin-top: 10px;
    position: relative;
    border-bottom: 2px solid #eee;
}
.c-goods a.all-checked{
    border-radius: 27px;
    width: 54px;
    height: 54px;
    border: 3px solid #c0bfbe;
    display: inline-block;
    margin-top: 18px;
}
.c-goods a.active{
    border-radius: 27px;
    width: 54px;
    height: 54px;
    border: 3px solid #c0bfbe;
    display: inline-block;
    margin-top: 18px;
    background: url('../images/all_bg.png') no-repeat top left;
}
.c-goods .words{
    font-size: 48px;
    color: #7d7c7d;
    position: absolute;
    top: 19px;
    left: 200px;
}
.c-goods ul{
    margin-top: 10px;
    background: #fff;
}
.c-goods ul li{
    height: 350px;
    margin-left: 7.9%;
}
.c-goods ul li .c-radio{
    border-radius: 27px;
    width: 54px;
    height: 54px;
    border: 3px solid #c0bfbe;
    display: inline-block;
    margin-top: 123px;
    float: left;
    background: #fff;
}
.c-goods ul li .g-img{
    float: left;
    height: 250px;
    width: 200px;
    margin-left: 4.6%;
    margin-top: 50px;
}
.c-goods ul li .g-img img{
    height: 250px;
    width: 200px;
}
.c-goods ul li .g-desc{
    float: left;
    height: 300px;
    font-size: 28px;
    margin-left: 4.6%;
    width: 27.7%;
}
.c-goods ul li .g-desc .name{
    color: #242d32;
    height: 50px;
    margin-top: 50px;
}
.c-goods ul li .g-desc .subtitle{
    color: #677e85;
    height: 100px;
}
.c-goods ul li .g-desc .price{
    color: #ff0b0f;
    height: 50px;
}
.c-goods ul li .num{
    float: left;
    width: 140px;
    height: 300px;
    line-height: 300px;
    margin-left: 4.7%;
    position: relative;
}
.c-goods ul li .num .i-num{
    height: 24px;
    width: 62px;
    border: 3px solid #b6c6c8;
    position: absolute;
    top: 134px;
    left: 31px;
    text-align: center;
    font-size: 30px;
}
.c-goods ul li .num i{
    display: inline-block;
    height: 40px;
    width: 34px;
}
.c-goods ul li .num .i-sub{
    background: url('../images/goods/sub_bg.png') no-repeat top left;
    position: absolute;
    top: 134px;
    left: 0;
}
.c-goods ul li .num .i-add{
    background: url('../images/goods/add_bg.png') no-repeat top left;
    position: absolute;
    top: 134px;
    left: 105px;
}
.c-goods ul li .action{
    float: left;
    width: 13.4%;
    line-height: 300px;
    text-align: center;
}
.c-goods ul li .action a{
    font-size: 25px;
}
.c-fixed{
    width: 1080px;
    height: 135px;
    box-shadow: 0 -5px 10px #dedede;
    position: fixed;
    bottom: 0;
    background: #fff;
    padding-top: 45px;
}
.c-fixed .payment{
    height: 72px;
    width: 240px;
    border-radius: 5px;
    background: #ffcc42;
    line-height: 72px;
    text-align: center;
    float: right;
    margin-right: 150px;
}
.c-fixed .place-btn{
    height: 130px;
    width: 360px;
    border-radius: 5px;
    background: #ffcc42;
    line-height: 130px;
    text-align: center;
    float: right;
    padding-right: 80px;
}
.c-fixed .price{
    float: right;
    margin-right: 54px;
    color: #333;
}
.c-fixed .price span{
    color: #ff0b0f;
}
.c-fixed .price i{
    color: #555;
}