/*页面重置*/
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
body{font:16px/1.5 "微软雅黑";}
img{border:none;}
li{list-style:none;}
ul,ol{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;cursor:pointer;color:#000;cursor:pointer;}
a:hover{text-decoration: none;}
/*清浮动*/
.clearfix:after{content:"";*display:block;*clear:both;}
.clearfix{zoom:1;}
选择
::selection {background-color:#669900; color:#ffffff; text-shadow:none;}
::-moz-selection {background-color:#669900; color:#ffffff;text-shadow:none;}
去掉a的下划线
a {blr:expression(this.onFocus=this.blur())} /*if IE*/
a {outline:none;}/*if 火狐等现代浏览器浏览器*/ 
/*页面重置 end*/
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px){
				.mala-mid-two,.mala-mid-one{font-size:12px;}
		}
*{
	margin: 0px;
    padding: 0px;
    list-style: none;
    font: 14px/1.5 微软雅黑;
}
.header video{
	background-size: 100%;background:#000;
}
.hand_nanchang{
    width: 100%;
    height: 4rem;
    background:#fff;
    text-align: center;
    box-shadow:1px 1px 2px #e5e5e5;
    line-height: 4rem;
    position: fixed;
	top:0;
    font-size: 18px;
	color:#000;
	z-index:99;
}
.header-top{
	width:95%;
	min-height:5rem;
	margin:0 auto;
}
.header-top img:nth-child(1){
	float:left;
	width:2rem;
	height:2rem;
	margin-top:1.5rem;
}
.header-top img:nth-child(2){
	float:right;
	width:2rem;
	height:2rem;
	margin-top:1.5rem;
}
.mala-logo{
	width:25%;
	height:4rem;
	float:left;
	line-height: 7rem;
	position:relative;
}
.mala-logo-one{
	width:25%;
	height:4rem;
	float:left;
	line-height: 7rem;
	position: relative;
}
.mala-logo img{
	width:2.5rem;
	height:2.5rem;
	/*margin-right:60%;*/
	position:absolute;
	top:1.3rem;
	left:1rem;
}
.mala-logo-one img{
	width:2.5rem;
	height:2.5rem;
	/*margin-left:60%;*/
	position:absolute;
	top:1.3rem;
	right:1rem;
}
.mala-mid-logo{
	width:49%;
	height:2.5rem;
	float:left;
	margin-top:3%;
	border:1px solid white;
	border-radius:20px;
	border-left:none;
	margin-left:12.5%;
}
.mala-mid-one{
	width: 60%;
    height: 2.5rem;
    float: left;
    border-radius: 49px;
    border: 1px solid white;
    background: white;
    border-top: none;
    border-bottom:none;
    color:#F14F4C;
    text-align:center;
	line-height: 2.5rem;
}
.mala-mid-two{
	text-align:center;
	line-height: 2.5rem;
	color:#fff;
}
/*.hand_nanchang img:nth-child(1){
	width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
}
.hand_nanchang img:nth-child(2){
	width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
}*/
	.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background: white;
    /* box-shadow: 0px -5px 4px 0px rgba(153,153,238,1); */
    border-top: 1px solid #ccc;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;z-index:98;
}
	.foot_after{display:none;}
	.bottom ul.bottomli{width:100%;color:#929292;}
	.bottomli li{width:20%;text-align:center;float:left;line-height:0rem;}
	.bottomli  a{color:#929292;}
	.bottom img {
	    width: 2rem;
	    height: 2rem;
	}
		.contain{
				width:100%;
				min-height:6rem;
				position: relative;
				margin-top: 0.1rem;
			}
			.contain img{
				width:100%;
				height:12rem;
			}
			.contain_one li{
				display:none;
			}
			.contain_one .contain_two{
				display: block;
			}
			.word{
				position: absolute;
				bottom: 1rem;
				right:1rem;
			}
			.word li{
				float: left;
				margin-left: 1rem;
				width:1rem;
				height:1rem;
				border-radius: 50%;
				background:grey;
			}
			.word .word_one{
				background:white;
			}
			.header{
	position:relative;
}
.mala-pic{
	width:90%;
	min-height:4rem;
	position:absolute;
	margin:0 auto;
	top:1rem;
	left:5%;
	z-index:1000;
}
.mala-pic img:nth-child(1){
	float:left;
	width:2rem;
	height:2rem;
}
.mala-pic img:nth-child(2){
	float:right;
	width:2rem;
	height:2rem;
}
/*nyt*/
.hand_nanchang .back{width: 12%;padding-top: 3.5%;margin-left: 2%;float:left;}
.hand_nanchang .back img{width:60%;}
.hand_nanchang .board{width: 12%;padding-top: 3.5%;margin-left: 2%;float:left;}
.hand_nanchang .board img{width:60%;}
.hand_nanchang .search{float:right;width:12%;margin-right: 2%;padding-top: 5%;display:none;}
.hand_nanchang .search img{width:50%;}
.hand_nanchang .share{float:right;width:12%;margin-right: 2%;padding-top: 4%;}
.hand_nanchang .share img{width:50%;}
.hand_nanchang_title{width:72%;float:left;text-align:center;height:4rem;line-height:4rem;font-size: 18px;}
