body{
    background: #eee;
}
ul.set{
    background: #eee;
}
ul li{
    background: #fff url('../images/members/li_bg_2.png') no-repeat top right;
    margin-top: 10px;
    height: 130px;
    line-height: 130px;
    padding: 0 70px;
}
ul li:first-child{
    background: #fff url('../images/members/li_bg.png') no-repeat top right;
    height: 290px;
}
ul li .avatar{
    max-height: 145px;
    width: 16%;
    border-radius: 7.2%;
    -moz-border-radius: 7.2%;
    -webkit-border-radius: 80px;
    float: left;
    margin-top: 70px;
    background: #eee;
    text-align: center;
}
ul li .name{
    width: 61%;
    float: left;
    margin: 7.4% 0 0 7.4%;
    line-height: 80px;
}
ul li:last-child{
    background: #fff;
    text-align: center;
    margin-top: 250px;
}
.a-form{
    float: left;
    width: 71%;
    height: 112px;
    font-size: 40px;
}
select{
    width: 290px;
    height: 120px;
    float: left;
    font-size: 40px;
    color: #555;
    background: #fff;
    padding: 5px;
    margin-top: 8px;
}
ul li span{
    display: inline-block;
    float: left;
    width: 25%;
    height: 120px;
    line-height: 120px;
}